@use '../scss/variabel';

header {
    @include variabel.mar-pad;
}

#navbar{
    @include variabel.flex-row;
    justify-content: space-between;
    align-items: center;
    margin: 27px 34px;
    height: 110px;
}

.nav-img{
    @include variabel.mar-pad;
    @include variabel.flex-row;
}

.nav-img img {
    width: 213px;
    height: 46px;
}

.nav-right {
    @include variabel.flex-row;
    height: 32px
}

.nav-right .nav-text {
    @include variabel.flex-row;
    color: variabel.$dark;
    margin-right: 30px;
    align-items: center
}

.nav-right .nav-text li {
    @include variabel.button;
    list-style: none;
}

.nav-right .nav-text a {
    text-decoration: none;
    color: variabel.$dark;
    margin: 0 15px;
}

.nav-right .nav-text a:hover {
    border-bottom: 4px solid variabel.$blue;
}

.nav-right button{
    @include variabel.mar-pad;
}

.nav-right #sign-in{
    @include variabel.button;
    background-color: variabel.$light_blue;
    color: variabel.$blue;
    border: 1px solid variabel.$blue;
    padding: 5px 15px;
    border-radius: 24px;
    text-align: center;
    margin-right: 30px;
}

.nav-right #sign-up{
    @include variabel.button;
    background-color: variabel.$blue;
    color: variabel.$white;
    padding: 5px 15px;
    border: none;
    border-radius: 24px;
    text-align: center;
    margin-right: 30px;
}